.dropdown {
    position: relative;
    margin-top: 7px;

    @media (max-width: 575px) {
        position: absolute;
        top: 15%;
        right: 2%;
    }

    &__button {
        position: relative;
        z-index: 2;
        color: var(--color-transparent);
        cursor: pointer;

        &:hover {
            color: transparent !important;
        }
    }

    &__list {
        position: absolute;
        top: -50%;
        right: 0;
        transform: translateY(-50%);
        display: flex;
        z-index: 1;
        width: 165px;
        height: 112px;
        padding: 14px 19px 15px 18px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        background: var(--color-white);
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 8px 0 rgba(134, 135, 137, 0.25);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.5s ease, z-index 0.1s ease;

        &_cross {
            margin-left: auto;

            svg path {
                transition: all 0.3s ease;
                stroke: var(--color-cross);
            }

            &:hover svg path {
                stroke: var(--color-black);
            }
        }

        &.active {
            top: -1rem;
            transform: translateY(0%);
            z-index: 3;
            opacity: 1;
            transition: transform 0.3s ease, opacity 0.5s ease, z-index 0.1s ease;
        }
    }

    &__item,
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }

    &__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        text-align: right;
        color: var(--color-black);
    }
}
