.main-header {
    position: relative;
    padding: 1.8rem 0 20rem;

    &__nav,
    &__nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-wrapper {
        gap: 2rem;
    }
}
