.restaurants {
    position: relative;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_link {
            margin-right: 4.2rem;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 15px;
            color: rgba(0, 0, 0, 0.6);

            @media (max-width: 575px) {
                display: none;
            }
        }
    }

    &__title {
        margin-bottom: 10.5px;
    }
}
