.search {
    display: flex;
    width: 58.2rem;
    max-height: 4rem;
    padding: 0 0 0 1.4rem;
    align-items: center;
    justify-content: flex-end;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 235%;
    color: #010101;
    border: 1px solid #cfcfcf;
    border-radius: 1rem;

    &__command {
        margin-right: 8px;
    }

    &__delimeter {
        width: 1px;
        height: 2.8rem;
        margin-right: 1.6rem;
        background: #cfcfcf;
    }

    &__field {
        background-color: transparent;

        &::placeholder {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 235%;
            color: #010101;
            opacity: 1;
        }
    }

    &__button {
        display: flex;
        z-index: 1;
        width: 5rem;
        height: 4rem;
        padding: 0;
        align-items: center;
        justify-content: center;
        background: #754040;
        border: none;
        border-radius: 0 10px 10px 0;
        transition: opacity 0.3s ease;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }
}
