html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;

    &::after {
        // content: url(../img/account.svg);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.container {
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 12rem;
    border: 1px solid green;

    @media (max-width: 767px) {
        padding: 0 1rem;
    }
}
