html,
body {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    color: var(--color-black);
    background-color: var(--color-bg);
    transition: all 0.5s ease;

    &::after {
        content: url(../img/currency.svg) url(../img/en-flag.svg) url(../img/es-flag.svg)
            url(../img/logo.svg) url(../img/logo-xs.svg) url(../img/photo.png)
            url(../img/receipt.svg) url(../img/rus-flag.svg);
        position: absolute;
        z-index: -1;
        width: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 12rem;

    @media (max-width: 991px) {
        padding: 0 3rem;
    }

    @media (max-width: 767px) {
        padding: 0 1rem;
    }
}

.content-container {
    position: relative;
    width: 100%;
    max-width: 144rem;
    margin: 0 auto;
    padding: 28.5px 108px 50px 125px;

    @media (max-width: 991px) {
        padding: 24px 30px 41px 30px;
    }

    @media (max-width: 767px) {
        padding: 24px 0px 41px 10px;
    }
}
