:root {
    --color-bg: #ffffff;
    --color-transparent: rgba(0, 0, 0, 0);

    --color-white: #ffffff;
    --color-grey: #cfcfcf;
    --color-black: #000000;

    --color-text: #010101;
    --color-cross: #c4c4c4;
    --color-span: #ab9c9e;
    --color-section: #424242;

    --color-star: #d61516;
    --color-btn: #a72536;
    --color-accent: #754040;
    --color-text-2: #5b484a;
    --color-city: #847173;
    --color-svg: #584b4d;

    --font-family: 'Roboto', sans-serif;
    --second-family: 'Akrobat', sans-serif;
    --third-family: 'Inter', sans-serif;
}
